pangenome
assembly/container/assemblySC.sif
assembly/.snakemake
assembly/.cache
assembly/rulegraph.pdf
assembly/resources/bakta_db
facienda.md
variantcalling/container/pggb_latest.sif
variantcalling/.snakemake
assembly/logs
assembly/.fontconfig
